services:
  db:
    image: 'postgres:17.1-alpine'
    container_name: thesis-track-db
    volumes:
      - ./db_backups:/db_backups
    environment:
      - POSTGRES_USER=thesis-track-postgres
      - POSTGRES_PASSWORD=thesis-track-postgres
      - POSTGRES_DB=thesis-track
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d thesis-track -U thesis-track-postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5144:5432"

  #postfix:
  #  image: ghcr.io/ls1admin/postfix:latest
  #  container_name: thesis-track-postfix
  #  restart: unless-stopped
  #  volumes:
  #    - ./postfix-config:/config # See https://github.com/ls1admin/postfix-container-tum-mailrelay/tree/main for details
  #  hostname: localhost
  #  ports:
  #    - "25:25"

  caldav:
    image: tomsquest/docker-radicale:3.3.0.1
    container_name: thesis-track-caldav
    ports:
      - "5232:5232"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: thesis-track-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    entrypoint: /opt/keycloak/bin/kc.sh start-dev
    ports:
      - "8081:8080"
