<div th:replace="~{fragments/salutation :: main}"></div>

<p th:inline="text">there is a new thesis application by <strong>[[${application.user.firstName}]]&nbsp;[[${application.user.lastName}]]</strong>.</p>
<p th:inline="text">We received the following thesis application details:</p>

<hr/>

<p th:inline="text">
  <strong>Name:</strong><br/>
  [[${application.user.firstName}]]&nbsp;[[${application.user.lastName}]]
</p>
<p th:inline="text">
  <strong>Email:</strong><br/>
  [[${application.user.email}]]
</p>
<p th:inline="text">
  <strong>University ID:</strong><br/>
  [[${application.user.universityId}]]
</p>
<p th:inline="text">
  <strong>Matriculation Number:</strong><br/>
  [[${application.user.matriculationNumber}]]
</p>
<p th:inline="text">
  <strong>Study program:</strong><br/>
  [[${DataFormatter.formatConstantName(application.user.studyProgram)}]]&nbsp;
  [[${DataFormatter.formatConstantName(application.user.studyDegree)}]]&nbsp;
  (Semester [[${DataFormatter.formatSemester(application.user.enrolledAt)}]])
</p>
<p th:inline="text">
  <strong>Thesis Title:</strong><br/>
  [[${application.thesisTitle}]]
</p>
<p th:inline="text">
  <strong>Desired Thesis Start Date:</strong><br/>
  [[${DataFormatter.formatDate(application.desiredStartDate)}]]
</p>
<p>
  <strong>Motivation:</strong><br/>
  <span th:utext="${application.motivation}"></span>
</p>
<br/>
<p>
  <strong>Special Skills:</strong><br/>
  <span th:utext="${application.user.specialSkills}"></span>
</p>
<br/>
<p>
  <strong>Interests:</strong><br/>
  <span th:utext="${application.user.interests}"></span>
</p>
<br/>
<p>
  <strong>Projects:</strong><br/>
  <span th:utext="${application.user.projects}"></span>
</p>
<br/>

<p th:inline="text">
  Full Details: <a target="_blank" rel="noopener noreferrer nofollow" th:href="${applicationUrl}">[[${applicationUrl}]]</a>
</p>

<p th:inline="text"><strong>You can find the submitted files in the attachment part of this email.</strong></p>

<div th:replace="~{fragments/notification-settings :: main}"></div>
