<div th:replace="~{fragments/salutation :: main}"></div>

<p th:inline="text">
  Thank you for your interest in pursuing your thesis under my supervision.
  I have carefully reviewed your proposed thesis.
  However, the suggested topic does not align with the current research interests of my group, and I am unable to supervise your thesis on this basis
</p>
<p th:inline="text">
  I encourage you to explore other faculty members whose research is more closely related to your proposed area of study.
</p>

<div th:text="${config.signature}"></div>
