<div th:replace="~{fragments/salutation :: main}"></div>

<p th:inline="text">
  [[${assessment.createdBy.firstName}]] [[${assessment.createdBy.lastName}]] added an assessment to thesis "[[${thesis.title}]]"
</p>

<p >
  <strong>Summary</strong><br />
  <span th:utext="${assessment.summary}"></span>
</p>

<p>
  <strong>Positives</strong><br />
  <span th:utext="${assessment.positives}"></span>
</p>

<p>
  <strong>Negatives</strong><br />
  <span th:utext="${assessment.negatives}"></span>
</p>

<p th:inline="text">
  <strong>Grade Suggestion</strong>: [[${assessment.gradeSuggestion}]]
</p>

<div th:replace="~{fragments/thesis-link :: main}"></div>

<div th:replace="~{fragments/notification-settings :: main}"></div>
