.CustomThesisProgressChart {
  .scroll-box {
    overflow: scroll;
    white-space: nowrap;
    width: 100%;
  }

  .y-axis-label {
    line-height: 35px;
  }

  .chart-bar {
    height: 25px;
    display: inline-block;
    margin: 5px 0;
    line-height: 0;
    cursor: pointer;
  }
}